body {
  background-color: #EEEEEE;
  color: #616161;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 20px;
}
a {
  color: #2C9ABC;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
p {
  margin-bottom: 20px;
  text-align:justify;
}
h1, h2, h3, h4 {
  color: #323232;
  line-height: 25px;
  font-weight: normal;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  font-size: 24px;
  line-height: 30px;
}
h2 {
  font-size: 18px;
}
h3 {
  font-size: 18px;
}
h4 {
  font-size: 14px
}